<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Add new Chat 

    <form method="POST" action="/chats">

<input placeholder="Who are you" name="from"><br>
<textarea placeholder="enter your message" name="msg"></textarea><br>
<p>Send to -> </p><input placeholder="send to" name="to">

<button>submit</button>

    </form>
    
</body>
</html>